.task{
    color: #fff;
    background-color: #186fdf;
    border-radius: .25rem;
    padding-inline:1rem ;
    padding-block: .625rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: .25rem;

}
.task p{
    margin: 0;
    white-space: nowrap;
}