@import './css/page.css';
@import './css/calendar.css';
@import './button.css';
@import './select.css';
@import './calendarstatus.css';
@import './header.css';
@import './mini-calendar.css';
@import './sidebar.css';
@import './modal.css';
@import './input.css';
@import './create-task.css';

/* 
body {
    font: var(--body1-regular);
    margin: 0;
    color: var(--gray50);
    background: var(--white);
  }
  @media screen and (prefers-color-scheme: dark) {
    :root {
      --gray50: #fffffe;
      --gray20: #c1c1c1;
      --white: #222222;
    }
  } */